.buttons {
    margin-top: 15px;
}

.buttons .button {
    margin-top: 5px;
    border: 2px solid #333333;
    color: #333333;
    text-align: center;
    padding: 6px 0;
    font-size: 14px;
    cursor: pointer;
}

.buttons .button:hover{
    background: rgba(51,51,51,0.8);
    color: #fff;
}