html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.ff-popup-overlay {
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 2147483647 !important;
}

.ff-popup {
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    border-radius: 2px;
    border: 1px solid #cacaca;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
    text-align: left;
    padding: 25px;

    font-family: "Open Sans", sans-serif;
}

.ff-popup > div > label > input {
    margin-right: 5px;
}